* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

footer {
    background: linear-gradient(to right, #3498db, #bc11d3);
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  
nav {
    background: linear-gradient(to right, #3498db, #bc11d3);
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.27); /* Penambahan huruf 'rgba' dan perbaikan warna shadow */
}
 
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    
nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000000;
}

nav a:hover {
    background: linear-gradient(to right, #3498db, #11d345);
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(250, 250, 250, 0.218);
    backdrop-filter: blur(10px); /* Mengganti 'background-filter' menjadi 'backdrop-filter' */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start; /* Mengganti '|' menjadi ';' */
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) { /* Menyesuaikan penggunaan 'px' pada media query */
    .sidebar {
        width: 100%;
    }
}
